#colophon {
	padding: 1rem 0;
    background: rgba(178, 178, 178, 0.51);
}

p.footer {
    font-size: 0.7em;
    text-align: right;
    color: rgba(10, 10, 10, 0.5);

    a {
    	color: rgba(10, 10, 10, 0.5);
    }
}
